.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}

ul {
    display: flex;
    gap: 14px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans';
  }
  li {
    font-size: 18px;
    padding: 0 12px;
    font-weight: bold;
    cursor: pointer;
  }
  li img{
    width: 80px;
  }
  
  img {
    width: 50px; /* Adjust size as needed */
    height: auto;
  }
  .hamburger-menu{
    display: none;
  }

  @media screen and (max-width: 768px) {
    
    .nav-links {
      display: none;
      position: absolute;
      top: 6px;/* Position it below the header (adjust as needed) */
      right: 0;
      flex-direction: column;
      background: transparent #b6b4b4;
      height: 100vh;
      padding: 10px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      width: 200px;
    
    }
    
    /* Show hamburger icon on mobile */
    .hamburger-menu {
      display: block;
     
      z-index: 1
    }
    
    /* When active, show the nav links dropdown */
    .nav-links.active {
      display: flex;
    }
  
  }